[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"

[packages]
setuptools = "*"
requests = "*"
pygithub = "*"
bs4 = "*"
gitpython = "*"
pydriller = "*"
plumbum = "*"
configargparse = "*"
radon = "*"
scipy = "*"
jupyter = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
